<h1><%= @post.name %></h1>
<p><%= @post.content %></p>
<form method="POST" action="/posts/<%=@post.id%>">
  <input type="hidden" id="hidden" name="_method" value="delete"/>
  <input type="submit" value="delete"/>
</form>